@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import '~bootstrap/scss/bootstrap';

[v-cloak] {
  display: none;
}

main {
  margin-top: 10em;
}

#class-average-grade {
  float: right;
  color: white;
}