{% extends 'base.html.twig' %}

{% block body %}
    <div id="appli" v-cloak xmlns:v-on="http://www.w3.org/1999/xhtml">
        <header>
            <nav class="navbar navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><i class="fas fa-graduation-cap"></i> Skøøl</a>

                <span id="class-average-grade">
                    {{ 'bo.header.class_average_grade'|trans }} :
                    <i class="fas fa-spinner fa-spin" v-if="globalAverageGrade === null"></i>
                    <span class="v-else">${globalAverageGrade}</span>
                    / 20
                </span>
            </nav>
        </header>

        <main role="main" class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <h2>{{ 'bo.students.list.title'|trans }}</h2>
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th><abbr title="{{ 'bo.students.list.headers.id'|trans }}">#</abbr></th>
                                <th>{{ 'bo.students.list.headers.last_name'|trans }}</th>
                                <th>{{ 'bo.students.list.headers.first_name'|trans }}</th>
                                <th>{{ 'bo.students.list.headers.birth_date'|trans }}</th>
                                <th>{{ 'bo.students.list.headers.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <thead class="thead-dark table-sm">
                        <tr>
                            <th></th>
                            <th>
                                <input class="form-control form-control-sm" v-model="filters.last_name" placeholder="{{ 'bo.students.list.filters.last_name'|trans }}">
                            </th>
                            <th>
                                <input class="form-control form-control-sm" v-model="filters.first_name" placeholder="{{ 'bo.students.list.filters.last_name'|trans }}">
                            </th>
                            <th></th>
                            <th>
                                <button class="btn btn-info btn-sm" v-on:click="refreshStudentsList()" :disabled="stopActions">
                                    <i class="fas fa-search"></i>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody v-if="students !== null">
                            <tr v-for="student in students._embedded.items">
                                <td>
                                    ${student.id}
                                </td>
                                <td>
                                    <strong>${student.last_name}</strong>
                                </td>
                                <td>
                                    ${student.first_name}
                                </td>
                                <td>
                                    ${moment(student.birth_date).format('DD/MM/YYYY')}
                                </td>
                                <td>
                                    <button class="btn btn-secondary" :disabled="stopActions" v-on:click="changeCurrentStudent(student)">
                                        <i class="fas fa-eye"></i>
                                    </button>

                                    <button type="button" class="btn btn-danger"
                                            title="{{ 'bo.students.list.actions.delete'|trans }}"
                                            v-on:click="deleteStudent(student, '{{ 'bo.students.list.actions.delete_confirm'|trans }}')"
                                            :disabled="stopActions || student.processing"
                                    >
                                        <i class="fas fa-spinner fa-spin" v-if="student.processing"></i>
                                        <i class="fas fa-trash" v-else></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="5">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <nav v-if="students !== null">
                        <ul class="pagination">
                            <li class="page-item" v-bind:class="{disabled: students.page <= 1}">
                                <a class="page-link" href="#" v-on:click="refreshStudentsList(students.page - 1)">
                                    <i class="fas fa-caret-left"></i> {{ 'bo.common.previous_page'|trans }}
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{disabled: students.page >= students.pages}">
                                <a class="page-link" href="#" v-on:click="refreshStudentsList(students.page + 1)">
                                    {{ 'bo.common.next_page'|trans }} <i class="fas fa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="col-4">

                    <div v-if="currentStudent !== null">
                        <h2>{{ 'bo.grades.title'|trans }} ${currentStudent.last_name} ${currentStudent.first_name}</h2>
                        <p>
                            <strong>{{ 'bo.grades.average_grade_label'|trans }} :</strong>
                            <span v-if="currentStudentAverageGrade !== null">
                                ${currentStudentAverageGrade}
                            </span>
                            <span v-else><i class="fas fa-spinner fa-spin"></i></span>
                        </p>
                        <table class="table table-sm table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'bo.grades.list.headers.value'|trans }}</th>
                                    <th colspan="2">{{ 'bo.grades.list.headers.subject'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-control form-control-sm" v-model="newGrade.value"
                                               placeholder="{{ 'bo.grades.input.value'|trans }}">
                                    </td>
                                    <td>
                                        <input class="form-control form-control-sm" v-model="newGrade.subject"
                                               placeholder="{{ 'bo.grades.input.subject'|trans }}">
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-sm"
                                                v-on:click="createNewGrade(currentStudent)"
                                                :disabled="stopActions || savingGrade">
                                            <i class="fas fa-plus" v-if="!savingGrade"></i>
                                            <i class="fas fa-spinner fa-spin" v-else></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-if="currentStudentGrades !== null">
                                <tr v-for="grade in currentStudentGrades">
                                    <td>${grade.value}</td>
                                    <td colspan="2">${grade.subject}</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="3">
                                        <i class="fas fa-spinner fa-spin"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </div>
{% endblock %}